@import '../../../scss/mixins.scss';

.sign-in {
  width: 30vw;
  text-align: justify;
  @include deskfirst(680) {
    width: 100%;
    margin-bottom: 1.25rem;
  }
  .title {
    margin: 0.625rem 0;
  }
}
.signin-btns {
  display: flex;
  justify-content: space-between;
}
.error-label__common {
  margin-bottom: 2.8125rem;
  text-align: center;
}
