@import '../../../scss/mixins.scss';

.test-warning {
  text-align: center;
  margin: 2.5rem 0 1.25rem 0;
  font-size: 1.5rem;
  font-weight: 300;
  color: #ff0000;
  @include deskfirst(520) {
    margin-top: 1.25rem;
  }
}
