@import '../../scss/mixins.scss';

.categories-item {
  min-width: 30%;
  height: 15rem;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 0.4688rem 0.9375rem;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 0.9;
    }
  }

  &.large {
    height: 23.75rem;
    @include deskfirst(760) {
      height: 15rem;
    }
  }

  &:first-child {
    margin-right: 0.4688rem;
  }

  &:last-child {
    margin-left: 0.4688rem;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .content {
    height: 5.625rem;
    padding: 0 1.5625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: #ffffff;
    opacity: 0.7;
    text-transform: uppercase;
    position: absolute;
    .title {
      font-weight: bold;
      margin-bottom: 0.375rem;
      font-size: 1.375rem;
      color: #4a4a4a;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 1rem;
    }
  }
}
