.cart-icon {
  width: 2.8125rem;
  height: 2.8125rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 2.25rem;
    height: 2.25rem;
    fill: #000000;
  }

  .item-count {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -65%);
    font-size: 0.75rem;
    font-weight: 700;
  }
}
