@import '../../scss/mixins.scss';

.category-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.875rem;

  .title {
    font-size: 1.75rem;
    margin-bottom: 1.5625rem;
    text-transform: uppercase;
  }

  .preview {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include deskfirst(530) {
      flex-direction: column;
      width: 100%;
    }
  }
}
