@import '../../scss/mixins.scss';

.category-page {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  flex: auto;
  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    & .collection-item {
      margin-bottom: 30px;
    }
  }
}
