@import '../../scss/mixins.scss';

.category-page {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
  flex: auto;
  .title {
    font-size: 2.375rem;
    margin: 0 auto 1.875rem;
  }

  .items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    & .collection-item {
      margin-bottom: 1.875rem;
    }
  }
}
